body{
    background-color: #fffbf7;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;*/
}



header{
    margin: 5px 20px;
    font-size: 0px;
    font-family: sans-serif;
    
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo{
    width: 15%;
    
}

.logo > img{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 600;
}

.btnNav{
    color: #025157;
}

li{
    margin: 0 25px;
    color: #025157;
}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > *{
    margin: 10px 10px;
}

.iniSesion{
    color: #67b54b;
}

.cta_01{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

li{
    display: inline;
}

.main{
    margin-top: 285px;
    text-align: center;
}

h1{
    color: #025157;
    /* text-align: center; */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 72px;
}

h2 {
    color: #025157;
    /* text-align: center; */
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
    /* text-align: center; */
}

form{
    height: 55px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    height: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

input{
    border: 1px solid #b6b6b6;
    padding:  6px 20px 6px 20px;
    max-width: 250px;
    width: 60%;
}

button{
    background-color: #025157;
    color: #fff;
    padding: 6px 20px 6px 20px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -10px;
}

#imgCapterra{
    width: 16%;
    min-width: 100px;
}

#imgGrafico{
    width: 60%;
    min-width: 400px;
}

.video{
   display: flex;
   width: 70%;
   margin: 100px auto;
   align-items: center;
}

.publish{
    margin-left: 30px;
}
.publish > p{
    font-size: 16px;

}

.vdImgContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#ImgFlecha{
    width: 15%;
}

.fixed-header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    box-shadow: 0px 0px 5px #c4c1bf;
}

.brands{
    background-color: #a1d683;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contentBrands{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 40%;
    padding: 15% 0 15% 15%;
}

.contentBrands > *{
    margin: 8px;
}

.captionBrands{
    color:#00292c
}

.ctaBrands{
    border-radius: 5px;
    height: fit-content;
}

.imgBrands{
    width: 100%;
}

.card{
    background-color: #fff;
    margin: auto;
    width: 25%;
    padding: 0px;
    position: relative;
    z-index: 0;
}

.card > * {
    padding: 0px 20px;
}

h4, h5{
    font-family: Verdana;
}

h4{
    color: #025157;
}

h5{
    color: #b6b6b6;
}

.imgCard{
    width: 100%;
    padding: 0;
}

.circuloMarcaCard{
    background-color: rgb(255, 238, 0);
    padding: 10px;
    width: 15%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    right: 5%;
}

.logoMarcaCard{
    width: 100%;
}

.footCaptionCard{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.iconCarrito{
   width: 10%;
}

.footCaptionCardText{
    font-size: 12px;
    padding: 5px;
    color: #00292c;
    width: 80%;
}

.ctaCard{
    margin: auto;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 25px;
}