body{
    background-color: #fffbf7;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

h1{
    color: #025157;
    text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}

form{
    height: 55px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    height: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

input{
    border: 1px solid #b6b6b6;
    padding:  6px 20px 6px 20px;
    max-width: 250px;
    width: 60%;
}

button{
    background-color: #025157;
    color: #fff;
    padding: 6px 20px 6px 20px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -10px;
}

#imgCapterra{
    width: 16%;
    min-width: 100px;
}

#imgGrafico{
    width: 60%;
    min-width: 400px;
}
.
